body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 10px;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    position: relative; 
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    background-color: transparent; 
    color: #ffffff; 
}

nav a:hover {
    background-color: transparent;
    color: #ffffff;
}


nav ul li a:hover::after {
    transform: scaleX(1); 
}


.banner {
    background-image: url("../img/pingpong.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2em;
    border-radius: 10px;
}

.contenido h2 {
    margin-top: 0;
}

button {
    background-color: #f44336; 
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 26px 0; 
    font-size: 1.2em; 
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 1em; 
}

.card-img-custom {
    height: 300px; 
    object-fit: cover; 
}

p {
    margin: 0; 
    text-align: justify;
    padding: 1em 0;
}

.centrar {
    text-align: center;
}

.fa-brands { 
    margin-right: 0.5em; 
}

.espacio {
    margin-left: 0.5em; 
}

.titulo {
    margin: 10px;
    padding: 0 20px;
    font-size: 3rem;
}