<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong - Jugadores</title>
    <link href="../../resources/css/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="../../controllers/public/jugadores.js"></script>
<body>
    <header>
        <nav>
            <a class="titulo" href="index.html">Ping Pong<i class="fa-solid fa-table-tennis espacio"></i></a>
            <ul>
                <li><a href="jugadores.html">Jugadores</a></li>
                <li><a href="torneo.html">Torneos</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Reglas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container mt-4">
        <h1 class="mb-4">Agregar Nuevo Jugador</h1>
        <form id="save-form" method="post" enctype="multipart/form-data">
            <input type="hidden" id="id" name="id">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="nombre" class="form-label">Nombre del Jugador</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="edad" class="form-label">Edad</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="edad" name="edad" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="telefono" class="form-label">Teléfono</label>
                </div>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" id="telefono" name="telefono" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="correo" class="form-label">Correo Electrónico</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="nivelHabilidad" class="form-label">Nivel de Habilidad</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-select" id="nivelHabilidad" name="nivelHabilidad" required>
                        <!-- Estos campos se cargarán desde la BD -->
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="genero" class="form-label">Género</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-select" id="genero" name="genero" required>
                        <!-- Estos campos se cargarán desde la BD -->
                    </select>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-sm-6 text-center">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </div>
            </div>
        </form>
    
        <hr>
    
        <h1>Listado de Jugadores</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Teléfono</th>
                    <th>Edad</th>
                    <th>Correo Electrónico</th>
                    <th>Nivel de Habilidad</th>          
                    <th>Acciones</th>   
                </tr>
            </thead>
            <tbody id="tabla-jugadores">
                <!-- Aquí se agregarán dinámicamente los jugadores -->
            </tbody>
        </table>
    </div>
    
    
    <footer>
        <a href="#" target="_blank"><i class="fa-brands fa-trello"></i> Trello</a>
        <a href="#" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
        <a href="#">Contáctanos</a>
        <h2>Derechos reservados © 2023 Ping Pong</h2>
    </footer>
</body>
</html>
